body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

.container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.avatar {
  width: 250px;
}

video {
  width: 250px;
  border-radius: 10px;
}
